
<div id="one" style="height:25%;">
  <app-node-element 
    label="Testing element three today"
    nodeText="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
    imageAsset="/assets/images/prairie.jpg"></app-node-element>
</div>
<div id="two" style="height:25%;">
  <app-node-element 
    label="Testing element three today"
    nodeText="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
    imageAsset="/assets/images/forest.jpg"></app-node-element>
</div>
<div id="three" style="height:25%;">
  <app-node-element 
    label="Testing element three today"
    nodeText="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
    imageAsset="/assets/images/mountains.jpg"></app-node-element>
</div>
<div id="four" style="height:25%;">
  <app-node-element 
    label="Testing element three today"
    nodeText="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
    imageAsset="/assets/images/lake.jpg"></app-node-element>
</div>

