/* You can add global styles to this file, and also import other style files */
body, html { 
    height:100%;
    width:100%; 
    padding:0; 
    margin:0;
    
}

body {
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background:    -moz-linear-gradient(#648880, #293f50);
    background:         linear-gradient(#648880, #293f50);
    background-attachment: fixed;
}